<section id="stats" class="row p-4">
    <div class="col-sm-6 paragraph">
        <h2>
            خدمات <span class="brand">شُهرة</span> هي الأنجح خلال نصف العقد الماضي
        </h2>
        <p>
            تتوقف جودة الخدمات التسويقية على عدة عوامل نعمل على توفرها الدائم
            في خدماتنا، فالتسويق الإلكتروني لا يقتصر على الدعايا التقليدية والبث
            الأعمى للمنتجات بل يحتاج إلى أفكار إبداعية خلاقة تساعد على توظيف الوسائل
            التكنولوجية بالأسلوب الذي يخدم النشاط التجاري ويضمن ثقة عدد أكبر من العملاء.
        </p>
    </div>
    <div class="col-sm-6 stats">
        <div class="row text-center">
            <div class="col-6 col-md-4 p-5">
                <div><i class="fas fa-users"></i></div>
                <div>5,348</div>
            </div>
            <div class="col-6 col-md-4 p-5">
                <div><i class="fas fa-tasks"></i></div>
                <div>10,519</div>
            </div>
            <div class="col-6 col-md-4 p-5">
                <div><i class="fas fa-chart-line"></i></div>
                <div>200%</div>
            </div>
            <div class="col-6 col-md-4 p-5">
                <div><i class="fas fa-globe"></i></div>
                <div>594</div>
            </div>
            <div class="col-6 col-md-4 p-5">
                <div><i class="fas fa-share-alt"></i></div>
                <div>2,347</div>
            </div>
            <div class="col-6 col-md-4 p-5">
                <div><i class="fas fa-ad"></i></div>
                <div>3,137</div>
            </div>
        </div>
    </div>
</section>