<app-page-header text="خدماتنا"></app-page-header>

<section id="content">
    <div class="row">
        <main class="text-center col-lg-8 row">
            <article class="my-4 p-5" id="consult">
                <h3 class="mb-3">الإستشارات المجانية</h3>
                <p>الآن احصل على إستشارة تسويقية مجانية تساعدك على النهوض بنشاطك وتحقيق أعلى عائد على الإستثمار والوصول لعملاء مستهدفين بأقل تكلفة وبأعلى جودة.</p>
                <a routerLink="/contact" fragment="order" class="btn btn-primary">اطلب الآن</a>
            </article>
            <article class="my-4 p-5" id="web">
                <h3 class="mb-3">تصميم المواقع الإحترافية</h3>
                <p>تصميم مواقع الكترونية باحدث وارقي اساليب تصميم المواقع هي أولى خطوات نجاح تصميم موقع الكترونى لأى شركة على شبكة الإنترنت لذا نحرص على دائما عمل الدراسىات اللازمة للشركة والعمل على  إبراز نقاط القوى وتقديميها لعملائك  بأسهل الطرق وبأفضل الأساليب من خلال تصميم موقع رسمى يمثل واجهة الشركة على شبكة الإنترنت وتوفير كل وسائل التواصل مع العملاء على الموقع.</p>
                <a routerLink="/contact" fragment="order" class="btn btn-primary">اطلب الآن</a>
            </article>
            <article class="my-4 p-5" id="social">
                <h3 class="mb-3">إدارة صفحات التواصل الإجتماعي</h3>
                <p>تُستخدم لتوسيع الانتشار التسويقي مع ضمان توحيد الهوية والرسالة لتحقيق معدلات تسويق إلكتروني عالية وتقدم الشركة خدمات تطوير وإدارة الهوية الالكترونية للشركات والمؤسسات والشخصيات العامة عبر تطوير وإنشاء الهوية الإلكترونية بما يتناسب مع الهوية التقليدية ومتطلبات العميل، وتوحيد استخدامها عبر جميع قنوات التسويق الالكترونية سواء الاجتماعية منها أو البحثية.</p>
                <a routerLink="/contact" fragment="order" class="btn btn-primary">اطلب الآن</a>
            </article>
            <article class="my-4 p-5" id="promoting">
                <h3 class="mb-3">الحملات الإعلانية المميزة</h3>
                <p>تقوم الشركة بإنشاء الحملات الاعلانية علي الفيس بوك وتختار نوع الجمهور الذي ترغب في الوصول إليه حيث  تعد الحملات الاعلانية المدفوعة من اسرع واسهل الطرق لانتشار وتسويق المنتجات حيث تيسر الوصول المباشر الى شرائح العملاء المستهدفين.</p>
                <a routerLink="/contact" fragment="order" class="btn btn-primary">اطلب الآن</a>
            </article>
        </main>
        <app-sidebar class="col-lg-4"></app-sidebar>
    </div>
</section>