<section id="clients" class="text-center p-5">
    <h2 class="h1 bold">أهم العملاء</h2>
    <div class="row align-items-center">
        <div class="col-lg-2 col-sm-4 col-6"><img class="p-4 w-100" src="/assets/logo1.png" alt="Hasoub Logo"></div>
        <div class="col-lg-2 col-sm-4 col-6"><img class="p-4 w-100" src="/assets/logo2.png" alt="Carrefour Logo"></div>
        <div class="col-lg-2 col-sm-4 col-6"><img class="p-4 w-100" src="/assets/logo3.png" alt="Town Team Logo"></div>
        <div class="col-lg-2 col-sm-4 col-6"><img class="p-4 w-100" src="/assets/logo4.png" alt="Nahdet Misr Logo"></div>
        <div class="col-lg-2 col-sm-4 col-6"><img class="p-4 w-100" src="/assets/logo5.png" alt="EGBank Logo"></div>
        <div class="col-lg-2 col-sm-4 col-6"><img class="p-4 w-100" src="/assets/logo6.png" alt="AJ+ Logo"></div>
    </div>
</section>