<aside class="bg-white my-3">
    <section id="reasons">
        <h4 class="mb-4">أسباب تجعل <span class="brand">شُهرة</span> اختيارك الأول</h4>
        <ol>
            <li>فريق عمل شاب ذو فكر مبتكر</li>
            <li>محل ثقة لكثير من الشركات الدولية</li>
            <li>دعم خاص للأنشطة الصغيرة والمتوسطة</li>
            <li>إعلام العميل بالخطة قبل الشروع فيها</li>
            <li>الإحصاءات الدورية عن فاعلية الحملات</li>
            <li>الدعم المستمر بعد انقضاء الخدمة</li>
            <li>لا دفع قبل الشروع في التنفيذ</li>
        </ol>
    </section>

    <section id="get">
        <h4 class="my-4">ماذا تنتظر؟ تمتع <span class="brand">بالشُهرة</span> الآن</h4>
        <a routerLink="/contact" fragment="order" class="d-block m-auto btn btn-primary">احصل على استشارة مجانية</a>
    </section>
</aside>