<!--Snippet from https://bootsnipp.com/snippets/92xNm-->

<div class="image-flip">
    <div class="mainflip flip-0">
        <div class="frontside">
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid" src="{{member.img}}" alt="{{member.name}}'s image"></p>
                    <h4 class="h5 card-title bold">{{member.name}}</h4>
                    <p class="card-text">{{member.shortText}}</p>
                </div>
            </div>
        </div>
        <div class="backside">
            <div class="card">
                <div class="card-body text-center mt-4">
                    <h4 class="h5 card-title bold">{{member.name}}</h4>
                    <p class="card-text">{{member.longText}}</p>
                </div>
            </div>
        </div>
    </div>
</div>