<section id="services" class="py-5 text-center">
    <h2 class="bold h1">خدماتنا</h2>

    <div class="services text-white">
        <div class="service-card right">
            <div class="row">
                <div class="col-9 d-flex flex-column justify-content-center">
                    <h3>تقديم الإستشارات المجانية</h3>
                    <p>يمكنك طلب استشارة مجانية للحصول على نصائح تساعدك على زيادة فاعلية نشاطك التجاري</p>
                </div>
                <div class="col-3"><img src="/assets/img2.svg" alt="Free Consult Service" class="w-100" style="filter: invert();"></div>
            </div>
        </div>
        <div class="service-card left">
            <div class="row">
                <div class="col-3"><img src="/assets/img3.svg" alt="Web Design Service" class="w-100"></div>
                <div class="col-9 d-flex flex-column justify-content-center">
                    <h3>تصميم المواقع الترويجية</h3>
                    <p>يمكننا القيام بتصميم موقع تجاري خاص بنشاطك وتحسين موقعه في محركات البحث ليكون واجهة جيدة لك وبوابة لتقديم خدماتك</p>
                </div>
            </div>
        </div>
        <div class="service-card right">
            <div class="row">
                <div class="col-9 d-flex flex-column justify-content-center">
                    <h3>إدارة صفحات التواصل الإجتماعي</h3>
                    <p>التواصل الجيد مع المتابعين يعد أحد أهم خطوات تسويق النشاط التجاري، وشبكات التواصل الإجتماعي توفر لك مساحة خصبة يمكن من خلالها توثيق العلاقة بينك وبين المتابعين</p>
                </div>
                <div class="col-3"><img src="/assets/img4.svg" alt="Social Media Management Service" class="w-100"></div>
            </div>
        </div>
        <div class="service-card left">
            <div class="row">
                <div class="col-3"><img src="/assets/img5.svg" alt="Ads Service" class="w-100"></div>
                <div class="col-9 d-flex flex-column justify-content-center">
                    <h3>الحملات الإعلانية</h3>
                    <p>تعتبر الحملات الإعلانية أبرز وسيلة لجلب المتابعين حيث تقوم بتصدير منتجك للفئة المهتمة به مما يزيد من فرص تصفح المستخدمين لنشاطك التجاري</p>
                </div>
            </div>
        </div>
    </div>
</section>