<header class="row">
    <div class="col-sm-7 d-flex flex-column justify-content-center align-items-center text-center pb-5">
        <h2 class="h1 mt-5">وسيلتك الأولى لتعزيز وجودك داخل العالم الرقمي</h2>
        <a routerLink="/contact" class="btn btn-primary mt-5">احصل على استشارة مجانية</a>
    </div>
    <div class="col-sm-5">
        <img src="/assets/img1.png" alt="Social Media Promoting" class="w-100">
    </div>
</header>

<app-stats></app-stats>
<app-services></app-services>
<div class="separator"></div>
<app-reviews></app-reviews>
<div class="separator"></div>
<app-clients></app-clients>

<div id="footage"></div>