<a id="order"></a>
<app-page-header text="تواصل معنا"></app-page-header>

<section id="content">
    <div class="row">
        <main class="text-center mb-4 col-lg-8 row">
            <h3 class="text-white col-12 my-4">اختر طلبك</h3>
            <article class="p-1 col-md-4 col-6">
                <div class="p-2 d-flex justify-content-center align-items-center" data-toggle="modal" data-target="#contactFormModal">
                    <h4 class="mb-3">إستشارة مجانية</h4>
                </div>
            </article>
            <article class="p-1 col-md-4 col-6">
                <div class="p-2 d-flex justify-content-center align-items-center" data-toggle="modal" data-target="#contactFormModal">
                    <h4 class="mb-3">طلب تصميم موقع</h4>
                </div>
            </article>
            <article class="p-1 col-md-4 col-6">
                <div class="p-2 d-flex justify-content-center align-items-center" data-toggle="modal" data-target="#contactFormModal">
                    <h4 class="mb-3">طلب حملة إعلانية</h4>
                </div>
            </article>
            <article class="p-1 col-md-4 col-6">
                <div class="p-2 d-flex justify-content-center align-items-center" data-toggle="modal" data-target="#contactFormModal">
                    <h4 class="mb-3">طلب تعاقد</h4>
                </div>
            </article>
            <article class="p-1 col-md-4 col-6">
                <div class="p-2 d-flex justify-content-center align-items-center" data-toggle="modal" data-target="#contactFormModal">
                    <h4 class="mb-3">طلب خطة تسويقية</h4>
                </div>
            </article>
            <article class="p-1 col-md-4 col-6">
                <div class="p-2 d-flex justify-content-center align-items-center" data-toggle="modal" data-target="#contactFormModal">
                    <h4 class="mb-3">استفسار حول الأسعار</h4>
                </div>
            </article>
            <h3 class="text-white col-12 my-4">بيانات التواصل</h3>
            <div class="text-white col-md-6 h5">
                <div class="my-2">
                    6 شارع الجبلاية - الزمالك
                </div>
                <div class="my-2">
                    القاهرة
                </div>
            </div>
            <div class="text-white col-md-6 h5">
                <a href="tel:+991328432662" class="my-2 phone"><i class="fas fa-phone-volume"></i><span>+991 328 432 662</span></a>
                <div class="my-2">
                    مواعيد العمل من 9 صباحًا حتى 4 عصرًا
                </div>
            </div>
        </main>
        <app-sidebar class="col-lg-4"></app-sidebar>
    </div>
</section>

<app-contact-form></app-contact-form>